<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<add key="pageSize" value="4" />
	<add key="pageSizeAjax" value="5" />
	<add key="maxPage" value="5" />
	
	<!--Setting Sendmail-->
	<add key="SMTPHost" value="smtp.gmail.com" />
	<add key="SMTPPort" value="587" />
	<add key="FromEmailAddress" value="tuannguyensro@gmail.com" />
	<add key="FromEmailPassword" value="NMT128159" />
	<add key="FromName" value="AN LOGISTICS" />
	<add key="AdminEmail" value="tuannguyensro@gmail.com" />
	<add key="CurrentLink" value="http://localhost:44339/" />
	<add key="EnableBundles" value="false" />
</appSettings>
