            <!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Danh mục nhóm</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="filterExpression" placeholder="Từ khóa">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="search()">Tìm kiếm</button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-success" ui-sref="add_application_group">Thêm mới</button>
                                <button class="btn btn-danger" ng-click="deleteMultiple()" id="btnDelete" disabled>Xóa</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <tr>
                                        <td><input name="all" type="checkbox" ng-click="selectAll()" /></td>
                                        <th style="width: 5%">ID</th>
                                        <th style="width:55%">Tên nhóm</th>
                                        <th style="width: 20%">Mô tả</th>
                                        <th style="width: 10%">Thao tác</th>
                                    </tr>
                                    <tr ng-repeat="item in data | filter:filterExpression">
                                        <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                                        <td>{{item.ID}}</td>
                                        <td><a ui-sref="edit_application_group({id:item.ID})">{{item.Name}}</a></td>
                                        <td>
                                            {{item.Description}}
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-primary" ui-sref="edit_application_group({id:item.ID})"><i class="fa fa-edit"></i></button>
                                            <button class="btn  btn-sm btn-danger" ng-click="deleteItem(item.ID)"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div ng-if="loading">
                                    <div class="col-xs-4"></div>
                                    <div class="col-xs-4 loading-area">
                                        <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary loading-lable">Đang tải...</label>
                                    </div>
                                    <div class="col-xs-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></pager-directive>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->