
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- inner page banner -->
<div class="dez-bnr-inr overlay-black-middle" style="background-image:url(Assets/Client/images/background/bg1.jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry">
            <h1 class="text-white">Liên hệ</h1>
        </div>
    </div>
</div>
<!-- inner page banner END -->
<!-- Breadcrumb row -->
<div class="breadcrumb-row">
    <div class="container">
        <ul class="list-inline">
            <li><a href="index.html">Home</a></li>
            <li>Liên hệ</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb row END -->
<!-- contact area -->
<div class="content-area">
    <div class="container">
        <!-- info part start -->
        <h4>Khách hàng có nhu cầu sử dụng dịch vụ, xin vui lòng liên hệ theo các phương thức sau </h4>
        <div class="row">
            <div class="col-lg-4 col-md-4 m-b30">
                <div class="icon-bx-wraper center bg-white p-a30">
                    <div class="icon-bx-sm bg-primary m-b20"> <a href="javascript:void(0);" class="icon-cell"><i class="fa fa-phone"></i></a> </div>
                    <div class="icon-content">
                        <h4 class="m-b10">Hotline CSKH or Zalo</h4>
                        <p>08.2222.1529</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 m-b30">
                <div class="icon-bx-wraper center bg-white p-a30">
                    <div class="icon-bx-sm bg-primary m-b20"> <a href="javascript:void(0);" class="icon-cell"><i class="fa fa-envelope"></i></a> </div>
                    <div class="icon-content">
                        <h4 class="m-b10">Email</h4>
                        <p>ad.anlogicstics@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 m-b30">
                <div class="icon-bx-wraper center bg-white p-a30">
                    <div class="icon-bx-sm bg-primary m-b20"> <a href="javascript:void(0);" class="icon-cell"><i class="fab fa-facebook"></i></a> </div>
                    <div class="icon-content">
                        <h4 class="m-b10">Facebook</h4>
                        <p>facebook.com/trungquoc.nhaphang.754</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- info part END -->
        <div class="row">
            <!-- Contact form start -->
            <div class="col-lg-6">
                <div class="dzFormMsg"></div>
                <div class="p-a30 bg-white clearfix m-b30">
                    <h3>Thông tin liên hệ:</h3>
                    <form method="post" class="dzForm" action="script/contact.php">
                        <input type="hidden" value="Contact" name="dzToDo">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user"></i>
                                            </span>
                                        </div>
                                        <input name="dzName" type="text" required class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                        </div>
                                        <input name="dzEmail" type="email" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend v-align-t">
                                            <span class="input-group-text">
                                                <i class="fa fa-pencil"></i>
                                            </span>
                                        </div>
                                        <textarea name="dzMessage" rows="4" class="form-control" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="g-recaptcha-bx">
                                    <div class="g-recaptcha" data-sitekey="<!-- Put reCaptcha Site Key -->" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                                    <input class="form-control d-none" style="display:none;" data-recaptcha="true" required data-error="Please complete the Captcha">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button name="submit" type="submit" value="Submit" class="site-button">
                                    <span>Gửi</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Contact form END -->
            <!-- Map part start -->
            <div class="col-lg-6">
                <h4>Vị trí của AN LOGICSTICS</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29799.009964337518!2d105.7387839!3d20.9975973!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134536e0a68a427%3A0xf38a13f976c54650!2zTmFtIFTGsMyAIExpw6ptLCBOYW0gVOG7qyBMacOqbSwgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1639907784228!5m2!1svi!2s" style="border:0; width:100%; height:400px; " allowfullscreen="" loading="lazy"></iframe>
            </div>
            <!-- Map part start -->
        </div>
    </div>
</div>
<!-- contact area  END -->
