
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Slider -->
<div class="main-slider style-two default-banner">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <div id="rev_slider_1014_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="typewriter-effect" data-source="gallery">
                <!-- START REVOLUTION SLIDER 5.3.0.2 -->
                <div id="rev_slider_1014_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
                    <ul>
                        <!-- SLIDE 1 -->
                        <li data-index="rs-1000" data-transition="zoomin" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="/Assets/Client/images/main-slider/slide1.jpg" data-rotate="0" data-saveperformance="off" data-title="Love it?" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/Assets/Client/images/main-slider/slider1.png" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYER NR. 1 [ for overlay ] -->
                            <div class="tp-caption tp-shape tp-shapewrapper "
                                 id="slide-100-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-type="shape"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 12;background-color:rgba(0, 0, 0, 0.40);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>
                            <!-- LAYER NR. 2 [ for title ] -->
                            <!--<div class="tp-caption  tp-resizeme"
                                     id="slide-100-layer-2"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['190','190','190','190']"
                                     data-fontsize="['50','50','50','50']"
                                     data-lineheight="['70','70','70','70']"
                                     data-width="['700','700','700','700']"
                                     data-height="['none','none','none','none']"
                                     data-whitespace="['normal','normal','normal','normal']"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 13;
                            font-size: 65px;
                            line-height: 60px;
                            font-weight: 700;
                            color: rgba(255, 255, 255, 1.00);
                            border-width:0px;">
                                    <span style="font-family:'Poppins' ,sans-serif;">
                                        CHÚNG TÔI<br>
                                        NHANH CHÓNG VÀ CHUYÊN NGHIỆP
                                    </span>
                                </div>-->
                            <!-- LAYER NR. 3 [ for paragraph] -->
                            <!--<div class="tp-caption tp-resizeme"
                                     id="slide-100-layer-3"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['340','340','340','340']"
                                     data-fontsize="['20','20','20','35']"
                                     data-lineheight="['30','30','30','40']"
                                     data-width="['800','800','800','1000']"
                                     data-height="['none','none','none','none']"
                                     data-whitespace="['normal','normal','normal','normal']"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 13;
                            font-weight: 600;
                            color: rgba(255, 255, 255, 0.85);
                            border-width:0px; font-family:'Poppins' ,sans-serif;"> <span></span> </div>-->
                            <!-- LAYER NR. 4 [ for readmore botton ] -->
                            <!--<div class="tp-caption tp-resizeme"
                            id="slide-100-layer-4"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['top','top','top','top']" data-voffset="['450','450','450','550']"
                            data-fontsize="['none','none','none','none']"
                            data-lineheight="['none','none','none','none']"
                            data-width="['700','700','700','700']"
                            data-height="['none','none','none','none']"
                            data-whitespace="['normal','normal','normal','normal']"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                            data-textAlign="['center','center','center','center']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 13;"> <a href="javascript:void(0);" class="site-button"><span></span></a> </div>-->
                        </li>
                        <!-- SLIDE 1 -->
                        <li data-index="rs-2000" data-transition="zoomin" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="/Assets/Client/images/main-slider/slide1.jpg" data-rotate="0" data-saveperformance="off" data-title="Love it?" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="/Assets/Client/images/main-slider/slide2.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYER NR. 1 [ for overlay ] -->
                            <div class="tp-caption tp-shape tp-shapewrapper "
                                 id="slide-200-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-type="shape"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 12;background-color:rgba(0, 0, 0, 0.40);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>
                            <!-- LAYER NR. 2 [ for title ] -->
                            <div class="tp-caption  tp-resizeme"
                                 id="slide-200-layer-2"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['190','190','190','190']"
                                 data-fontsize="['50','50','50','50']"
                                 data-lineheight="['70','70','70','70']"
                                 data-width="['700','700','700','700']"
                                 data-height="['none','none','none','none']"
                                 data-whitespace="['normal','normal','normal','normal']"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 13;
									font-size: 65px;
									line-height: 60px;
									font-weight: 700;
									color: rgba(255, 255, 255, 1.00);
									border-width:0px;">
                                <span style="font-family:'Poppins' ,sans-serif;">
                                    You Focus On Your <br>
                                    Business
                                </span>
                            </div>
                            <!-- LAYER NR. 3 [ for paragraph] -->
                            <div class="tp-caption tp-resizeme"
                                 id="slide-200-layer-3"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['340','340','340','340']"
                                 data-fontsize="['20','20','20','35']"
                                 data-lineheight="['30','30','30','40']"
                                 data-width="['800','800','800','1000']"
                                 data-height="['none','none','none','none']"
                                 data-whitespace="['normal','normal','normal','normal']"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 13;
									font-weight: 600;
									color: rgba(255, 255, 255, 0.85);
									border-width:0px; font-family:'Poppins' ,sans-serif;"> <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy  text ever since the when an unknown printer took a Gallery of type and scrambled [...]</span> </div>
                            <!-- LAYER NR. 4 [ for readmore botton ] -->
                            <div class="tp-caption tp-resizeme"
                                 id="slide-200-layer-4"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['450','450','450','550']"
                                 data-fontsize="['none','none','none','none']"
                                 data-lineheight="['none','none','none','none']"
                                 data-width="['700','700','700','700']"
                                 data-height="['none','none','none','none']"
                                 data-whitespace="['normal','normal','normal','normal']"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 13;"> <a href="javascript:void(0);" class="site-button"><span>Read More</span></a> </div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div>
            <!-- END REVOLUTION SLIDER -->
        </div>
    </div>
</div>
<!-- Slider END -->
<!-- Our Service Box -->
<div class="section-full our-service p-b10">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="icon-bx-wraper text-center service-box p-a30 bg-white skew-angle">
                    <div class="icon-lg radius"> <span class="icon-cell"><i class="fa fa-shopping-cart"></i></span> </div>
                    <div class="icon-content">
                        <h4 class="m-b0 m-t10">Đặt hàng dễ dàng</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="icon-bx-wraper text-center service-box p-a30 bg-white skew-angle">
                    <div class="icon-lg radius"> <span class="icon-cell"><i class="fa fa-ship"></i></span> </div>
                    <div class="icon-content">
                        <h4 class="m-b0 m-t10">Vận chuyển siêu tốc</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="icon-bx-wraper text-center service-box p-a30 bg-white skew-angle">
                    <div class="icon-lg radius"> <span class="icon-cell"><i class="fa fa-wallet"></i></span> </div>
                    <div class="icon-content">
                        <h4 class="m-b0 m-t10">Thanh toán linh hoạt</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="icon-bx-wraper text-center service-box p-a30 bg-white skew-angle">
                    <div class="icon-lg radius"> <span class="icon-cell"><i class="fa fa-shield-alt"></i></span> </div>
                    <div class="icon-content">
                        <h4 class="m-b0 m-t10">An toàn tuyệt đối</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Service Box End -->
<!-- Slider END -->
<!-- Architecture -->
<div class="section-full  bg-white p-t70 p-b40 overlay-white-middle">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="h3">DỊCH VỤ CỦA CHÚNG TÔI</h2>
            <div class="dez-separator-outer ">
                <div class="dez-separator bg-primary"></div>
            </div>
            <p>AN LOGISTICS là giải pháp nhập hàng tối ưu cho quý khách. Chúng tôi mang lại cho khách hàng nguồn hàng phong phú với mức giá cực rẻ.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40 p-lr15">
                    <div class="icon-bx-sm m-b20"> <span class="icon-cell"><i class="fas fa-plane-departure text-primary"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dez-tilte text-uppercase">ĐẶT HÀNG, SHIP HÀNG QUỐC TẾ</h5>
                        <p>Đặt hàng từ tất cả các website TMĐT Trung Quốc như taobao, 1688, tmall.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40 p-lr15">
                    <div class="icon-bx-sm m-b20"> <span class="icon-cell"><i class="fa fa-exchange-alt text-primary"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dez-tilte text-uppercase">CHUYỂN HÀNG 2 CHIỀU TRUNG - VIỆT</h5>
                        <p>Vận chuyển hàng hóa từ khắp các tỉnh thành của Trung Quốc về Việt Nam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40 p-lr15">
                    <div class="icon-bx-sm m-b20"> <span class="icon-cell"><i class="fa fa-wallet text-primary"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dez-tilte text-uppercase">THANH TOÁN DỄ DÀNG, LINH HOẠT</h5>
                        <p>Thanh toán đơn hàng, nạp tiền tài khoản ngân hàng hoặc Alipay, Wechat, QQ pay.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40 p-lr15">
                    <div class="icon-bx-sm m-b20"> <span class="icon-cell"><i class="fa fa-user-check text-primary"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dez-tilte text-uppercase">HỖ TRỢ VÀ TƯ VẤN CHUYÊN NGHIỆP</h5>
                        <p>Tư vấn miễn phí. Hỗ trợ tìm kiếm nguồn hàng, hỗ trợ kiểm đếm hàng hóa.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40 p-lr15">
                    <div class="icon-bx-sm m-b20"> <span class="icon-cell"><i class="fa fa-box-open text-primary"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dez-tilte text-uppercase">DỄ DÀNG QUẢN LÝ ĐƠN HÀNG</h5>
                        <p>Hệ thống quản lý tiện lợi, giúp giao dịch nhanh chóng, rõ ràng.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40 p-lr15">
                    <div class="icon-bx-sm m-b20"> <span class="icon-cell"><i class="fa fa-shipping-fast text-primary"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dez-tilte text-uppercase">GIAO HÀNG TẬN NƠI</h5>
                        <p>Ngồi nhà nhập hàng kinh doanh, tiết kiệm thời gian và chi phí hơn trước.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Architecture END-->
<!-- Team member -->
<div class="section-full bg-white p-t70 p-b40">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="h2">Meet Our Team</h2>
            <div class="dez-separator bg-primary"></div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 m-b30">
                    <div class="dez-box">
                        <div class="dez-media"> <a href="javascript:void(0);"><img src="/Assets/Client/images/our-team/pic1.jpg" alt=""></a> </div>
                        <div class="dez-info p-a20 p-t40 border-1">
                            <h4 class="dez-title m-tb0"><a href="javascript:void(0);">Jimmy Morris</a></h4>
                            <div class="bg-primary skew-content-box">
                                <ul class="dez-social-icon">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-google-plus" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest-p" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-instagram" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                            <span>Senor Vice President</span>
                            <p class="m-t10 m-b0">Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 m-b30">
                    <div class="dez-box">
                        <div class="dez-media"> <a href="javascript:void(0);"><img src="/Assets/Client/images/our-team/pic2.jpg" alt=""></a> </div>
                        <div class="dez-info p-a20 p-t40 border-1">
                            <h4 class="dez-title m-tb0"><a href="javascript:void(0);">Jimmy Morris</a></h4>
                            <div class="bg-primary skew-content-box">
                                <ul class="dez-social-icon">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-google-plus" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest-p" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-instagram" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                            <span>Senor Vice President</span>
                            <p class="m-t10 m-b0">Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 m-b30">
                    <div class="dez-box">
                        <div class="dez-media"> <a href="javascript:void(0);"><img src="/Assets/Client/images/our-team/pic3.jpg" alt=""></a> </div>
                        <div class="dez-info p-a20 p-t40 border-1">
                            <h4 class="dez-title m-tb0"><a href="javascript:void(0);">Jimmy Morris</a></h4>
                            <div class="bg-primary skew-content-box">
                                <ul class="dez-social-icon">
                                    <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-google-plus" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest-p" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-instagram" href="javascript:void(0);"></a></li>
                                </ul>
                            </div>
                            <span>Senor Vice President</span>
                            <p class="m-t10 m-b0">Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team member -->
<!-- Company Stats  -->
<div class="section-full bg-img-fix p-t70 p-b40 overlay-black-dark our-projects-galery " style="background-image:url(/Assets/Client/images/background/bg-demo.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                <div class="icon-bx-wraper center text-primary">
                    <div class="icon-xl m-b20"> <span class="icon-cell"> <i class="fa fa-users"></i></span> </div>
                    <div class="m-t10">
                        <div class="dez-separator bg-primary"></div>
                    </div>
                    <div class="icon-content">
                        <h2 class="dez-tilte text-uppercase h2"> <span class="counter">+5000</span> + </h2>
                        <h4 style="color: white;">Passionate Employee</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                <div class="icon-bx-wraper center text-primary">
                    <div class="icon-xl m-b20"> <span class="icon-cell"> <i class="fa fa-university"></i></span> </div>
                    <div class="m-t10">
                        <div class="dez-separator bg-primary"></div>
                    </div>
                    <div class="icon-content">
                        <h2 class="dez-tilte text-uppercase h2"> <span class="counter">+700</span> + </h2>
                        <h4 style="color: white;">Offices in Worldwide</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                <div class="icon-bx-wraper center text-primary">
                    <div class="icon-xl m-b20"> <span class="icon-cell"> <i class="fa fa-globe"></i></span> </div>
                    <div class="m-t10">
                        <div class="dez-separator bg-primary"></div>
                    </div>
                    <div class="icon-content">
                        <h2 class="dez-tilte text-uppercase h2"> <span class="counter">+245</span> + </h2>
                        <h4 style="color: white;">Modern Cargo Trucks</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                <div class="icon-bx-wraper center text-primary">
                    <div class="icon-xl m-b20"> <span class="icon-cell"> <i class="fa fa-trophy"></i></span> </div>
                    <div class="m-t10">
                        <div class="dez-separator bg-primary"></div>
                    </div>
                    <div class="icon-content">
                        <h2 class="dez-tilte text-uppercase h2"> <span class="counter">+648</span> + </h2>
                        <h4 style="color: white;">International Awards</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Company Stats END -->
<!-- What peolpe are saying style 5 -->
<div class="section-full bg-white bg-img-fix p-t70 p-b70">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="text-uppercase h3">Khách hàng nói gì về chúng tôi?</h2>
            <div class="dez-separator bg-primary"></div>
        </div>
        <div class="section-content">
            <div class="testimonial-three owl-carousel owl-theme">
                <div class="item">
                    <div class="testimonial-3">
                        <div class="quote-left"></div>
                        <div class="testimonial-text">
                            <p>1. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                        </div>
                        <div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
                        <div class="testimonial-pic radius shadow"><img src="/Assets/Client/images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-3">
                        <div class="quote-left"></div>
                        <div class="testimonial-text">
                            <p>2. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                        </div>
                        <div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
                        <div class="testimonial-pic radius shadow"><img src="/Assets/Client/images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-3">
                        <div class="quote-left"></div>
                        <div class="testimonial-text">
                            <p>3. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                        </div>
                        <div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
                        <div class="testimonial-pic radius shadow"><img src="/Assets/Client/images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-3">
                        <div class="quote-left"></div>
                        <div class="testimonial-text">
                            <p>4. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                        </div>
                        <div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
                        <div class="testimonial-pic radius shadow"><img src="/Assets/Client/images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-3">
                        <div class="quote-left"></div>
                        <div class="testimonial-text">
                            <p>5. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                        </div>
                        <div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
                        <div class="testimonial-pic radius shadow"><img src="/Assets/Client/images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- What peolpe are saying style 5 END -->
