
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Slider -->
<div class="main-slider style-two default-banner">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <div id="dz_rev_slider_5_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery36" data-source="gallery" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
                <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
                <div id="dz_rev_slider_5" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-100" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/Assets/Client/images/main-slider/slide4.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="A STUDY ON HAPPINESS" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="">
                            <!-- MAIN IMAGE -->
                            <img src="/Assets/Client/images/main-slider/slide1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <div class="tp-caption tp-shape tp-shapewrapper "
                                 id="slide-100-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-type="shape"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 2;background-color:rgba(0, 0, 0, 0.0);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption Newspaper-Subtitle  text-primary tp-resizeme"
                                 id="slide-100-layer-2"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['250','200','270','180']"
                                 data-fontsize="['40','35','20','20']"
                                 data-lineheight="['45','40','25','25']"
                                 data-width="['800','800','800','420']"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; white-space: nowrap; font-family:'roboto',sans-serif; font-weight:500;">
                                Nhập hàng và vận chuyển uy tín - giá rẻ
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption Newspaper-Title   tp-resizeme"
                                 id="slide-100-layer-3"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['310','260','300','210']"
                                 data-fontsize="['80','80','50','30']"
                                 data-lineheight="['85','85','55','35']"
                                 data-width="['1000','1000','1000','420']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[10,10,10,10]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; white-space: normal; font-weight:400; line-height:80px; font-family:'roboto',sans-serif; color:#fff;">
                                Tại <span class="text-primary"> AN LOGISTICS</span>
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption Newspaper-Title   tp-resizeme"
                                 id="slide-100-layer-4"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['400','370','370','260']"
                                 data-fontsize="['16','15','14','13']"
                                 data-lineheight="['22','22','22','22']"
                                 data-width="['700','600','600','420']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[10,10,10,10]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; white-space: normal; line-height:80px; color:#fff; font-family:'roboto',sans-serif">
                                Cung cấp dịch vụ đặt hàng và vận chuyển tốt nhất Việt Nam với thời gian giao hàng nhanh nhất, đội ngũ trách nhiệm nhất, chi phí hợp lý nhất
                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption"
                                 id="slide-100-layer-5"
                                 data-x="['left','left','left','left']" data-hoffset="['53','53','60','30']"
                                 data-y="['top','top','top','top']" data-voffset="['520','470','470','370']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-responsive_offset="on"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
                                <a href="#" class="site-button ">CHI TIẾT </a>
                            </div>
                            @*                            <div class="tp-caption"
                                     id="slide-100-layer-6"
                                     data-x="['left','left','left','left']" data-hoffset="['200','200','200','180']"
                                     data-y="['top','top','top','top']" data-voffset="['520','470','470','370']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-responsive_offset="on"
                                     data-responsive="off"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                     data-textAlign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
                                    <a href="#" class="site-button-secondry">Contact Us</a>
                                </div>*@
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-200" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/Assets/Client/images/main-slider/slide1.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="A STUDY ON HAPPINESS" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="">
                            <!-- MAIN IMAGE -->
                            <img src="/Assets/Client/images/main-slider/slide1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <div class="tp-caption tp-shape tp-shapewrapper "
                                 id="slide-200-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-type="shape"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 2;background-color:rgba(0, 0, 0, 0.0);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption Newspaper-Subtitle text-primary tp-resizeme"
                                 id="slide-200-layer-2"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['250','200','270','180']"
                                 data-fontsize="['40','35','20','20']"
                                 data-lineheight="['45','40','25','25']"
                                 data-width="['800','800','800','420']"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; white-space: nowrap; font-family:'roboto',sans-serif; font-weight:400;">
                                Nhập hàng và vận chuyển uy tín - giá rẻ
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption Newspaper-Title   tp-resizeme"
                                 id="slide-200-layer-3"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['310','260','300','210']"
                                 data-fontsize="['80','80','50','30']"
                                 data-lineheight="['85','85','55','35']"
                                 data-width="['1000','1000','1000','420']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[10,10,10,10]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; white-space: normal; font-weight:400; line-height:80px; font-family:'roboto',sans-serif; color:#FFF;">
                                Tại <span class="text-primary"> AN LOGISTICS</span>
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption Newspaper-Title   tp-resizeme"
                                 id="slide-200-layer-4"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['400','370','370','260']"
                                 data-fontsize="['16','15','14','13']"
                                 data-lineheight="['22','22','22','22']"
                                 data-width="['700','600','600','420']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[10,10,10,10]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; white-space: normal; line-height:80px; color:#FFF; font-family:'roboto',sans-serif">
                                Cung cấp dịch vụ đặt hàng và vận chuyển tốt nhất Việt Nam với thời gian giao hàng nhanh nhất, đội ngũ trách nhiệm nhất, chi phí hợp lý nhất
                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption"
                                 id="slide-200-layer-5"
                                 data-x="['left','left','left','left']" data-hoffset="['53','53','60','30']"
                                 data-y="['top','top','top','top']" data-voffset="['520','470','470','370']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-responsive_offset="on"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
                                <a href="#" class="site-button">CHI TIẾT </a>
                                @*                            </div>
                                    <div class="tp-caption"
                                         id="slide-200-layer-6"
                                         data-x="['left','left','left','left']" data-hoffset="['200','200','200','180']"
                                         data-y="['top','top','top','top']" data-voffset="['520','470','470','370']"
                                         data-width="none"
                                         data-height="none"
                                         data-whitespace="nowrap"
                                         data-responsive_offset="on"
                                         data-responsive="off"
                                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                         data-textAlign="['left','left','left','left']"
                                         data-paddingtop="[0,0,0,0]"
                                         data-paddingright="[0,0,0,0]"
                                         data-paddingbottom="[0,0,0,0]"
                                         data-paddingleft="[0,0,0,0]"
                                         style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
                                        <a href="#" class="site-button-secondry">Contact Us</a>
                                    </div>*@
                            </div>
                        </li>
                        <!-- SLIDE  -->
                    </ul>
                    <div class="tp-bannertimer tp-bottom bg-primary" style="height: 5px; background-color: rgba(166, 216, 236, 1.00);"></div>
                </div>
            </div>
            <!-- END REVOLUTION SLIDER -->
        </div>
    </div>
</div>
<!-- Slider END -->
<!-- Our Service Box -->
<div class="section-full our-service p-b10">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="icon-bx-wraper text-center service-box p-a30 bg-white skew-angle">
                    <div class="icon-lg radius"> <span class="icon-cell"><i class="fa fa-shopping-cart"></i></span> </div>
                    <div class="icon-content">
                        <h4 class="m-b0 m-t10">Đặt hàng dễ dàng</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="icon-bx-wraper text-center service-box p-a30 bg-white skew-angle">
                    <div class="icon-lg radius"> <span class="icon-cell"><i class="fa fa-ship"></i></span> </div>
                    <div class="icon-content">
                        <h4 class="m-b0 m-t10">Vận chuyển siêu tốc</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="icon-bx-wraper text-center service-box p-a30 bg-white skew-angle">
                    <div class="icon-lg radius"> <span class="icon-cell"><i class="fa fa-wallet"></i></span> </div>
                    <div class="icon-content">
                        <h4 class="m-b0 m-t10">Thanh toán linh hoạt</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="icon-bx-wraper text-center service-box p-a30 bg-white skew-angle">
                    <div class="icon-lg radius"> <span class="icon-cell"><i class="fa fa-shield-alt"></i></span> </div>
                    <div class="icon-content">
                        <h4 class="m-b0 m-t10">An toàn tuyệt đối</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Service Box End -->
<!-- Client logo Carousel -->
<div class="section-full bg-img-fix p-t50 p-b50 ">
    <div class="container">
        <div class="section-content">
            <div class="client-logo-carousel owl-carousel mfp-gallery gallery owl-btn-center-lr">
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"><a href="javascript:void(0);"><img src="~/Assets/Client/images/client-logo/Taobao.png" alt=""></a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="~/Assets/Client/images/client-logo/Tmall.png" alt=""></a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="~/Assets/Client/images/client-logo/1688.png" alt=""></a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="~/Assets/Client/images/client-logo/ghtk.png" alt=""></a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="~/Assets/Client/images/client-logo/ghn.png" alt=""></a> </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo"> <a href="javascript:void(0);"><img src="~/Assets/Client/images/client-logo/Taobao.png" alt=""></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Client logo Carousel END -->
<!-- Architecture -->
<div class="section-full  bg-white p-t70 p-b40 overlay-white-middle">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="h3">DỊCH VỤ CỦA CHÚNG TÔI</h2>
            <div class="dez-separator-outer ">
                <div class="dez-separator bg-primary"></div>
            </div>
            <p>AN LOGISTICS là giải pháp nhập hàng tối ưu cho quý khách. Chúng tôi mang lại cho khách hàng nguồn hàng phong phú với mức giá cực rẻ.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40 p-lr15">
                    <div class="icon-bx-sm m-b20"> <span class="icon-cell"><i class="fas fa-plane-departure text-primary"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dez-tilte text-uppercase">ĐẶT HÀNG, SHIP HÀNG QUỐC TẾ</h5>
                        <p>Đặt hàng từ tất cả các website TMĐT Trung Quốc như taobao, 1688, tmall.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40 p-lr15">
                    <div class="icon-bx-sm m-b20"> <span class="icon-cell"><i class="fa fa-exchange-alt text-primary"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dez-tilte text-uppercase">CHUYỂN HÀNG 2 CHIỀU TRUNG - VIỆT</h5>
                        <p>Vận chuyển hàng hóa từ khắp các tỉnh thành của Trung Quốc về Việt Nam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40 p-lr15">
                    <div class="icon-bx-sm m-b20"> <span class="icon-cell"><i class="fa fa-wallet text-primary"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dez-tilte text-uppercase">THANH TOÁN DỄ DÀNG, LINH HOẠT</h5>
                        <p>Thanh toán đơn hàng, nạp tiền tài khoản ngân hàng hoặc Alipay, Wechat, QQ pay.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40 p-lr15">
                    <div class="icon-bx-sm m-b20"> <span class="icon-cell"><i class="fa fa-user-check text-primary"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dez-tilte text-uppercase">HỖ TRỢ VÀ TƯ VẤN CHUYÊN NGHIỆP</h5>
                        <p>Tư vấn miễn phí. Hỗ trợ tìm kiếm nguồn hàng, hỗ trợ kiểm đếm hàng hóa.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40 p-lr15">
                    <div class="icon-bx-sm m-b20"> <span class="icon-cell"><i class="fa fa-box-open text-primary"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dez-tilte text-uppercase">DỄ DÀNG QUẢN LÝ ĐƠN HÀNG</h5>
                        <p>Hệ thống quản lý tiện lợi, giúp giao dịch nhanh chóng, rõ ràng.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="icon-bx-wraper center m-b40 p-lr15">
                    <div class="icon-bx-sm m-b20"> <span class="icon-cell"><i class="fa fa-shipping-fast text-primary"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dez-tilte text-uppercase">GIAO HÀNG TẬN NƠI</h5>
                        <p>Ngồi nhà nhập hàng kinh doanh, tiết kiệm thời gian và chi phí hơn trước.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Architecture END-->
<!-- Our Activities  -->
<div class="section-full bg-img-fix p-tb70 overlay-black-dark our-projects-galery" style="background-image:url(/Assets/Client/images/background/bg1.jpg);">
    <div class="container">
        <div class="section-head  text-center text-white">
            <h3 class="h3">HƯỚNG DẪN ĐĂNG KÝ VÀ NHẬP HÀNG</h3>
            <div class="dez-separator-outer">
                <div class="dez-separator bg-primary"></div>
            </div>
            <p>Nhập hàng và kinh doanh dễ dàng chỉ với vài thao tác.</p>
        </div>
        <div class="site-filters text-center clearfix">
            <ul class="nav justify-content-center">
                <li>
                    <a href="#air_frieght" class="site-button white radius-xl active" data-toggle="tab">
                        <i class="fa fa-user-plus"></i> Đăng ký tài khoản
                    </a>
                </li>
                <li>
                    <a href="#sea_frieght" class="site-button white radius-xl" data-toggle="tab">
                        <i class="fa fa-list"></i> Chọn hàng & tạo đơn hàng
                    </a>
                </li>
                <li>
                    <a href="#train_frieght" class="site-button white radius-xl" data-toggle="tab">
                        <i class="fa fa-paper-plane"></i> Gửi đơn hàng
                    </a>
                </li>
                <li>
                    <a href="#road_frieght" class="site-button white radius-xl" data-toggle="tab">
                        <i class="fa fa-comment-dollar"></i> Đặt cọc đơn hàng
                    </a>
                </li>
                <li>
                    <a href="#payment" class="site-button white radius-xl" data-toggle="tab">
                        <i class="fa fa-hand-holding-usd"></i> Nhận hàng & thanh toán
                    </a>
                </li>
            </ul>
        </div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active fade show" id="air_frieght">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="text-left text-white">
                            <h2 class="m-b10">1. Đăng ký tài khoản.</h2>
                            <div class="dez-separator-outer">
                                <div class="dez-separator bg-primary style-liner"></div>
                            </div>
                            <p>Quý khách khởi tạo tài khoản để bắt đầu sử dụng dịch vụ của AN LOGISTICS hoặc đăng nhập nếu đã và đang sử dụng dịch vụ của chúng tôi.</p>
                        </div>
                        <ol class="list-num-count text-white">
                            <li>Nhập đầy đủ thông tin cơ bản</li>
                            <li>Vui lòng nhập đúng địa chỉ và số điện thoại để nhận hàng</li>
                            <li>Vui lòng sử dụng số điện thoại có kết nối Zalo để nhận thông tin đơn hàng</li>
                            <li>Kiểm tra thông tin email để sử dụng khi quên mật khẩu.</li>
                        </ol>
                        <div class="m-t10"> <a href="#" class="site-button">Chi tiết</a> </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="dez-post-media dez-img-effect m-t20">
                            <a href="javascript:;"><img src="~/Assets/Client/images/our-work/dangky.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="sea_frieght">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="text-left text-white">
                            <h2 class="m-b10">2. Chọn hàng và tạo đơn hàng.</h2>
                            <div class="dez-separator-outer">
                                <div class="dez-separator bg-primary style-liner"></div>
                            </div>
                            <p>Quý khách có thể vào các cửa hàng trên sàn TMĐT hoặc liên hệ với AN LOGISTICS để được hỗ trợ tìm nguồn hàng phù hợp. Tại đây AN LOGISTICS sẽ đưa sản phẩm kèm theo các thuộc tính quý khách đã chọn vào giỏ hàng của quý khách trên AN LOGISTICS.</p>
                        </div>
                        <div class="m-t10"> <a href="#" class="site-button ">Chi tiết</a> </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="dez-post-media dez-img-effect m-t20">
                            <a href="javascript:;"><img src="~/Assets/Client/images/our-work/buoc2.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="train_frieght">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="text-left text-white">
                            <h2 class="m-b10">3. Gửi đơn hàng.</h2>
                            <div class="dez-separator-outer">
                                <div class="dez-separator bg-primary style-liner"></div>
                            </div>
                            <p>Kiểm tra đơn hàng và tiến hành gửi đơn hàng để tạo đơn hàng, sau đó chờ xác nhận đặt hàng từ AN LOGISTICS</p>
                        </div>
                        <ol class="list-num-count text-white">
                            <li>Kiểm tra link sản phẩm từ các sàn TMĐT trước khi gửi.</li>
                            <li>Đính kèm hình ảnh chi tiết về sản phẩm.</li>
                            <li>Nhập các thông tin về màu sắc, kích thước.</li>
                            <li>Ghi chú các thông tin cần thiết về sản phẩm.</li>
                        </ol>
                        <div class="m-t10"> <a href="#" class="site-button ">Chi tiết</a> </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="dez-post-media dez-img-effect m-t20">
                            <a href="javascript:;"><img src="~/Assets/Client/images/our-work/pic3.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="road_frieght">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="text-left text-white">
                            <h2 class="m-b10">4. Đặt cọc đơn hàng.</h2>
                            <div class="dez-separator-outer">
                                <div class="dez-separator bg-primary style-liner"></div>
                            </div>
                            <p>Sau khi quý khách gửi đơn hàng thành công, AN LOGISTIC sẽ kiểm tra và liên hệ khách hàng để tiến hành đặt cọc qua hình thức chuyển khoản hoặc trực tiếp tại văn phòng. Ngoài ra đây cũng là lúc quý khách có thể thêm các yêu cầu để chúng tôi lưu ý về hàng hoá của quý khách như: dễ vỡ, cách thức bảo quản…</p>
                        </div>
                        <div class="m-t10"> <a href="#" class="site-button ">Chi tiết</a> </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="dez-post-media dez-img-effect m-t20">
                            <a href="javascript:;"><img src="~/Assets/Client/images/our-work/pic4.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="payment">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="text-left text-white">
                            <h2 class="m-b10">5. Nhận hàng và thanh toán.</h2>
                            <div class="dez-separator-outer">
                                <div class="dez-separator bg-primary style-liner"></div>
                            </div>
                            <p>AN LOGISTICS sẽ tiến hành mua sản phẩm theo đơn hàng quý khách đã gửi. Tiến trình hàng hoá sẽ được AN LOGISTICS cập nhật trên đơn. Sau từ 4-6 ngày kể từ khi hàng hoá đc mua, chúng tôi sẽ liên hệ với quý khách để giao hàng và thực hiện thanh toán</p>
                        </div>
                        <ol class="list-num-count text-white">
                            <li>Tiến hành đặt hàng theo đơn hàng của quý khách</li>
                            <li>Thông báo thanh toán chi phí khi hàng về đến kho tại Việt Nam,</li>
                            <li>Khách hàng yêu cầu AN LOGISTICS giao hàng hoặc nhận trực tiếp tại văn phòng</li>
                            <li>Sau khi nhận hàng, quý khách kiểm tra và gửi khiếu nại nếu gặp vấn đề về đơn hàng.</li>
                        </ol>
                        <div class="m-t10"> <a href="#" class="site-button ">Chi tiết</a> </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="dez-post-media dez-img-effect m-t20">
                            <a href="javascript:;"><img src="~/Assets/Client/images/our-work/pic5.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Activities END -->
<!-- What peolpe are saying style 5 -->
<div class="section-full bg-white bg-img-fix p-t70 p-b70">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="text-uppercase h3">Khách hàng nói gì về chúng tôi?</h2>
            <div class="dez-separator bg-primary"></div>
        </div>
        <div class="section-content">
            <div class="testimonial-three owl-carousel owl-theme">
                <div class="item">
                    <div class="testimonial-3">
                        <div class="quote-left"></div>
                        <div class="testimonial-text">
                            <p>Giải pháp nhập hàng tại AN LOGISTICS thật sự rất tiện lợi và dễ dàng. Nhân viên tư vấn rất nhiệt tình, giá cả lại rẻ nữa, thời gian nhập hàng chỉ từ 4-6 ngày là hàng về, sẽ luôn ủng hộ AN LOGISTICS.</p>
                        </div>
                        <div class="testimonial-detail"> <strong class="testimonial-name">Thảo Nguyên</strong> <span class="testimonial-position">Kinh doanh</span> </div>
                        <div class="testimonial-pic radius shadow"><img src="/Assets/Client/images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-3">
                        <div class="quote-left"></div>
                        <div class="testimonial-text">
                            <p>Mình luôn đặt hàng và vận chuyển ở AN LOGISTICS vì thời gian nhanh chóng, giá lại rẻ nữa. Đối với sinh viên như mình nhập hàng ít nhưng cũng được AN LOGICSTIC hỗ trợ rất nhiều. </p>
                        </div>
                        <div class="testimonial-detail"> <strong class="testimonial-name">Trúc Anh</strong> <span class="testimonial-position">Sinh viên</span> </div>
                        <div class="testimonial-pic radius shadow"><img src="/Assets/Client/images/testimonials/pic2.jpg" width="100" height="100" alt=""></div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-3">
                        <div class="quote-left"></div>
                        <div class="testimonial-text">
                            <p>Mình làm công việc nhân viên văn phòng, vì vậy rất bận rộn trong công việc, ngoài giờ mình có kinh doanh thêm, và thật may khi có giải pháp nhập hàng quá tốt từ AN LOGISTICS.</p>
                        </div>
                        <div class="testimonial-detail"> <strong class="testimonial-name">Chị Thảo</strong> <span class="testimonial-position">NVVP</span> </div>
                        <div class="testimonial-pic radius shadow"><img src="/Assets/Client/images/testimonials/pic3.jpg" width="100" height="100" alt=""></div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-3">
                        <div class="quote-left"></div>
                        <div class="testimonial-text">
                            <p>Giải pháp nhập hàng tại AN LOGISTICS thật sự rất tiện lợi và dễ dàng. Nhân viên tư vấn rất nhiệt tình, giá cả lại rẻ nữa, thời gian nhập hàng chỉ từ 4-6 ngày là hàng về, sẽ luôn ủng hộ AN LOGISTICS.</p>
                        </div>
                        <div class="testimonial-detail"> <strong class="testimonial-name">Thảo Nguyên</strong> <span class="testimonial-position">Kinh doanh</span> </div>
                        <div class="testimonial-pic radius shadow"><img src="/Assets/Client/images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-3">
                        <div class="quote-left"></div>
                        <div class="testimonial-text">
                            <p>Mình luôn đặt hàng và vận chuyển ở AN LOGISTICS vì thời gian nhanh chóng, giá lại rẻ nữa. Đối với sinh viên như mình nhập hàng ít nhưng cũng được AN LOGICSTIC hỗ trợ rất nhiều. </p>
                        </div>
                        <div class="testimonial-detail"> <strong class="testimonial-name">Trúc Anh</strong> <span class="testimonial-position">Sinh viên</span> </div>
                        <div class="testimonial-pic radius shadow"><img src="/Assets/Client/images/testimonials/pic2.jpg" width="100" height="100" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- What peolpe are saying style 5 END -->