
@{
    ViewBag.Title = "Giới thiệu về ANLOGISTIC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner page banner -->
<div class="dez-bnr-inr overlay-black-middle" style="background-image:url(/Assets/Client/images/background/bg1.jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry">
            <h1 class="text-white">Giới thiệu về AN LOGISTICS</h1>
        </div>
    </div>
</div>
<!-- inner page banner END -->
<!-- Breadcrumb row -->
<div class="breadcrumb-row">
    <div class="container">
        <ul class="list-inline">
            <li><a href="/">Trang chủ</a></li>
            <li>Giới thiệu về AN LOGISTICS</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb row END -->
<div class="content-area">
    <div class="container">
        <div class="row">
            <!-- Side bar start -->
            <div class="col-xl-3 col-lg-4 col-md-5">
                <aside class="side-bar">
                    <!-- Our services -->
                        <div class="widget bg-white p-a20 widget_services">
                            <h4 class="widget-title">DANH MỤC</h4>
                            <ul class="list-chevron-circle orange">
                                <li><a href="javascript:void(0);">Giới thiệu</a></li>
                                <li><a href="javascript:void(0);">Bảng giá</a></li>
                                <li><a href="javascript:void(0);">Hướng dẫn</a></li>
                                <li><a href="javascript:void(0);">Chính sách</a></li>
                                <li><a href="javascript:void(0);">Tuyển dụng</a></li>
                                <li><a href="javascript:void(0);">Liên hệ</a></li>
                            </ul>
                        </div>
                    <!-- Our services END -->
                </aside>
            </div>
            <!-- Side bar END -->
            <!-- Left part start -->
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Title separator style 1 -->
                <div class="p-a30 bg-white m-b40">
                    <div class="section-head text-center m-0">
                        <h4 class="text-uppercase h4">GIỚI THIỆU VỀ AN LOGISTICS </h4>
                        <div class="dez-separator bg-primary"></div>
                    </div>
                    <div class="section-content"></div>
                </div>
                <!-- Title separator style 1 END -->
                <!-- blog start -->
                <div class="blog-post blog-single">
                    <h3>1. Về AN LOGISTICS</h3>
                    <div class="dez-post-media dez-img-effect"> <a href="javascript:void(0);"><img src="~/Assets/Client/images/blog/default/thum1.jpg" alt=""></a> </div>
                    <div class="dez-post-text">
                        <p><b>AN LOGISTICS là đơn vị cung cấp dịch vụ trung gian nhập hàng từ các website thương mại điện tử hàng đầu của Trung Quốc. Dịch vụ của AN LOGISTICS bao gồm:</b></p>
                        <ul class="list-check-circle orange">
                            <li> Tư vấn tìm kiếm nguồn hàng trên các website bán buôn, bán lẻ hàng đầu Trung Quốc như wholesaler.alibaba.com, 1688.com, taobao.com, tmall.com...</li>
                            <li> Mua hàng và kiểm tra hàng hóa</li>
                            <li> Đóng gói và làm việc với các đơn vị vận chuyển hàng hóa về Việt Nam</li>
                            <li> Khiếu nại nhà cung cấp, hỗ trợ đổi trả hàng hóa</li>
                        </ul>

                        <blockquote>Mục tiêu của AN LOGISTICS là luôn dẫn đầu trong việc xây dựng tiêu chuẩn dịch vụ để phục vụ khách hàng ngày một tốt hơn. Trong suốt thời gian phát triển, đội ngũ thực hiện AN LOGISTICS luôn tự hào là đơn vị tiên phong thực hiện những cam kết mang tính thay đổi, dẫn dắt và đòi hỏi cao đối với thị trường</blockquote>
                        <p>AN LOGISTICS nhận đặt mua hàng trên các website thương mại điện tử lớn và uy tín nhất Quảng Châu - Trung Quốc như: Taobao, Tmall, 1688.... Ngoài ra AN LOGISTICS còn hỗ trợ khách hàng vận chuyển hàng hóa đặt mua từ các tỉnh thành phố của Trung Quốc về kho hàng của chúng tôi ở Trung Quốc –> Hà Nội –> Sài Gòn và các tỉnh thành phố trên cả nước với chi phí hợp lý nhất.</p>
                        <h3>2. Cam kết của chúng tôi</h3>
                        <h4>2.1. Về sản phẩm đặt mua tại Anlogistics.vn</h4>
                        <img class="alignright" width="300" src="~/Assets/Client/images/blog/grid/pic1.png" alt="">
                        <ul class="list-check-circle orange">
                            <li> Nguồn hàng phong phú, giá cả đa dạng phù hợp với mọi nhu cầu kinh doanh của khách hàng.</li>
                            <li> Đảm bảo hàng hóa quý khách đặt đúng yêu cầu : Đúng link, Đúng màu, Đúng size, Đúng số lượng…</li>
                            <li> Sản phẩm mua về Việt Nam còn nguyên vẹn:  Nguyên tem, Nguyên hộp, Nguyên hóa đơn mua hàng.</li>
                            <li> Đối với đơn hàng thất lạc, mất mát trong quá trình vận chuyển quốc tế AN LOGISTICS sẽ bồi thường 100% giá trị hàng hoá.</li>
                        </ul>
                        <div class="dez-divider bg-gray-dark"></div>
                        <h4>2.2. Về dịch vụ mua hàng và vận chuyển hàng hóa</h4>
                        <ul class="list-check-circle orange">
                            <li> Nhân viên tư vấn hỗ trợ nhiệt tình, mua hàng hàng nhanh chóng, giao hàng đúng yêu cầu cho quý khách.</li>
                            <li> Đảm bảo mua hàng trong vòng 24h, cập nhật tình trạng đơn hàng thường xuyên, nhanh chóng cho khách hàng.</li>
                            <li> Cách thức mua hàng nhanh chóng, chính xác & hiệu quả giúp tiết kiệm thời gian tăng hiệu quả trong kinh doanh.</li>
                            <li> Thời gian hàng về : Hàng từ Trung Quốc về Việt Nam từ 5-7 ngày.</li>
                            <li> Dịch vụ chuyển phát nhanh linh hoạt, nhanh chóng chi phí cạnh tranh nhất thị trường.</li>
                            <li> Đặc biệt phí vận chuyển Trung Quốc – Việt Nam rẻ nhất thị trường: Chỉ 26k (Hàng về Hà Nội) –  45k ( Hàng về TP.HCM)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Left part END -->
        </div>
    </div>
</div>
