
@{
    ViewBag.Title = "Chính sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner page banner -->
<div class="dez-bnr-inr overlay-black-middle" style="background-image:url(/Assets/Client/images/background/bg1.jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry">
            <h1 class="text-white">Chính sách tại AN LOGISTICS</h1>
        </div>
    </div>
</div>
<!-- inner page banner END -->
<!-- Breadcrumb row -->
<div class="breadcrumb-row">
    <div class="container">
        <ul class="list-inline">
            <li><a href="/">Trang chủ</a></li>
            <li>Chính sách</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb row END -->
<div class="content-area">
    <div class="container">
        <div class="row">
            <!-- Side bar start -->
            <div class="col-xl-3 col-lg-4 col-md-5">
                <aside class="side-bar">
                    <!-- Our services -->
                    <div class="widget bg-white p-a20 widget_services">
                        <h4 class="widget-title">DANH MỤC</h4>
                        <ul class="list-chevron-circle orange">
                            <li><a href="javascript:void(0);">Giới thiệu</a></li>
                            <li><a href="javascript:void(0);">Bảng giá</a></li>
                            <li><a href="javascript:void(0);">Hướng dẫn</a></li>
                            <li><a href="javascript:void(0);">Chính sách</a></li>
                            <li><a href="javascript:void(0);">Tuyển dụng</a></li>
                            <li><a href="javascript:void(0);">Liên hệ</a></li>
                        </ul>
                    </div>
                    <!-- Our services END -->
                </aside>
            </div>
            <!-- Side bar END -->
            <!-- Left part start -->
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Title separator style 1 -->
                <div class="p-a30 bg-white m-b40">
                    <div class="section-head text-center m-0">
                        <h4 class="text-uppercase h4">CHÍNH SÁCH TẠI AN LOGISTICS</h4>
                        <div class="dez-separator bg-primary"></div>
                    </div>
                    <div class="section-content"></div>
                </div>
                <!-- Title separator style 1 END -->
                <!-- blog start -->
                <div class="blog-post blog-single">
                    <h3>1. Đối với khách hàng Order</h3>
                    <div class="dez-post-media dez-img-effect"></div>
                    <div class="dez-post-text">
                        <ul class="list-check-circle orange">
                            <li> Có trách nhiệm lên đơn Order cho khách hàng, mua hàng theo đơn và cam kết mua hàng theo đúng link, đúng shop đã chốt với qúy khách hàng</li>
                            <li> Xác nhận nội dung file hàng bao gồm: màu sắc - size - số lượng để các bạn nhân viên công ty chốt file và tiến hành mua đơn hàng cho quý khách hàng</li>
                            <li> Đối với đơn hàng do công ty mua sai - đương nhiên trách nhiệm sẽ thuộc về chúng tôi 100%. Còn những đơn hàng lỗi thuộc về shop chúng tôi có trách nhiệm khiếu nại và hỗ trợ khách hàng đổi trả - phí hàng quay đầu khách hàng là người chi trả</li>
                            <li> Quý khách hàng vui lòng chuyển khoản 100% giá trị đơn hàng trước khi mua, phí cân nặng thanh toán sau khi nhận hàng</li>
                            <li> Với các trường hợp không may xảy ra thất lạc hàng hoá với bất kỳ lý do nào bị hủy, chúng tôi sẽ hoàn lại tiền hàng - không bao gồm phí cước phí order</li>
                        </ul>
                    </div>
                    <div class="dez-divider bg-gray-dark"></div>
                    <h3>2. Đối với khách hàng ký gửi</h3>
                    <div class="dez-post-media dez-img-effect"></div>
                    <div class="dez-post-text">
                        <ul class="list-check-circle orange">
                            <li> Đền 100% giá trị đơn hàng dưới 150 tệ trên 150 tệ x5 cân nặng và hỗ trợ khách hàng tốt nhất</li>
                            <li> Đền bù 100% đối với đơn hàng mua bảo hiểm 5% (Khách hàng thanh toán tiền bảo hiểm qua web trước ngày nhập kho TQ)</li>
                            <li> Đền bù gấp 5 lần cân nặng ( Không quá 5 triệu ) đối với đơn hàng không mua bảo hiểm</li>
                            <li> Lưu ý: Bảo hiểm chỉ áp dụng với các trường hợp thất lạc hàng hoá trong quá trình vận chuyển hàng hoá từ TQ về kho VN. Không bảo hiểm hàng hoá trong các trường hợp hỏng hàng, thiếu hàng, sai hàng, chất lượng hàng hoá Chi tiết liên hệ CSKH</li>
                        </ul>
                        <p><b>Mọi phàn nàn hay góp ý, mong quý khách liên hệ đến hotline: 08.2222.1529 hoặc ad.anlogistics@gmail.com. Xin cảm ơn quý khách hàng!</b></p>
                    </div>
                </div>
            </div>
            <!-- Left part END -->
        </div>
    </div>
</div>


