
@{
    ViewBag.Title = "Bảng giá";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner page banner -->
<div class="dez-bnr-inr overlay-black-middle" style="background-image:url(/Assets/Client/images/background/bg1.jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry">
            <h1 class="text-white">Bảng giá vận chuyển tại AN LOGISTICS</h1>
        </div>
    </div>
</div>
<!-- inner page banner END -->
<!-- Breadcrumb row -->
<div class="breadcrumb-row">
    <div class="container">
        <ul class="list-inline">
            <li><a href="/">Trang chủ</a></li>
            <li>Bảng giá vận chuyển</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb row END -->
<div class="content-area">
    <div class="container">
        <div class="row">
            <!-- Side bar start -->
            <div class="col-xl-3 col-lg-4 col-md-5">
                <aside class="side-bar">
                    <!-- Our services -->
                    <div class="widget bg-white p-a20 widget_services">
                        <h4 class="widget-title">DANH MỤC</h4>
                        <ul class="list-chevron-circle orange">
                            <li><a href="javascript:void(0);">Giới thiệu</a></li>
                            <li><a href="javascript:void(0);">Bảng giá</a></li>
                            <li><a href="javascript:void(0);">Hướng dẫn</a></li>
                            <li><a href="javascript:void(0);">Chính sách</a></li>
                            <li><a href="javascript:void(0);">Tuyển dụng</a></li>
                            <li><a href="javascript:void(0);">Liên hệ</a></li>
                        </ul>
                    </div>
                    <!-- Our services END -->
                </aside>
            </div>
            <!-- Side bar END -->
            <!-- Left part start -->
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Title separator style 1 -->
                <div class="p-a30 bg-white m-b40">
                    <div class="section-head text-center m-0">
                        <h4 class="text-uppercase h4">BẢNG GIÁ VẬN CHUYỂN</h4>
                        <div class="dez-separator bg-primary"></div>
                    </div>
                    <div class="section-content"></div>
                </div>
                <!-- Title separator style 1 END -->
                <!-- blog start -->
                <div class="blog-post blog-single">
                    <div class="dez-post-text">
                        <p><b>AN LOGISTICS xin gửi đến quý khách hàng biểu phí dịch vụ và công thức tính toán chi phí khi sử dụng dịch vụ của chúng tôi.</b></p>
                        <p>Công thức tính phí vận chuyển như sau:</p>
                        <ul class="list-check-circle orange">
                            <li> Chi phí đơn hàng = Tiền hàng + Phí dịch vụ + Phí ship nội địa (Trung Quốc) + Phí cân nặng</li>
                        </ul>
                    </div>
                    <div class="dez-post-media dez-img-effect"> <a href="javascript:void(0);"><img src="~/Assets/Client/images/blog/default/bang-chi-phi.png" alt=""></a> </div>
                    <div class="dez-post-text">
                        <p><b>Các khái niệm:</b></p>
                        <ul class="list-circle">
                            <li> Tiền hàng  là tổng tiền được quy đổi sang VND từ giá sản phẩm được niêm yết trên website hoặc giá do Quý khách hàng đã thỏa thuận với nhà cung cấp Trung Quốc</li>
                            <li> Phí dịch vụ là phí HPO xử lý đơn hàng của quý khách theo công thức sau:</li>
                        </ul>
                        <p style="text-align:center;">Phí dịch vụ = Tiền hàng x % Phí dịch vụ mua hộ</p>
                    </div>
                    <div class="dez-post-media dez-img-effect"> <a href="javascript:void(0);"><img src="~/Assets/Client/images/blog/default/thum2.jpg" alt=""></a> </div>
                </div>
            </div>
            <!-- Left part END -->
        </div>
    </div>
</div>

