
@{
    ViewBag.Title = "Tuyển dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner page banner -->
<div class="dez-bnr-inr overlay-black-middle" style="background-image:url(/Assets/Client/images/background/bg1.jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry">
            <h1 class="text-white">Tuyển dụng tại AN LOGISTICS</h1>
        </div>
    </div>
</div>
<!-- inner page banner END -->
<!-- Breadcrumb row -->
<div class="breadcrumb-row">
    <div class="container">
        <ul class="list-inline">
            <li><a href="/">Trang chủ</a></li>
            <li>Tuyển dụng</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb row END -->
<div class="content-area">
    <div class="container">
        <div class="row">
            <!-- Side bar start -->
            <div class="col-xl-3 col-lg-4 col-md-5">
                <aside class="side-bar">
                    <!-- Our services -->
                    <div class="widget bg-white p-a20 widget_services">
                        <h4 class="widget-title">DANH MỤC</h4>
                        <ul class="list-chevron-circle orange">
                            <li><a href="javascript:void(0);">Giới thiệu</a></li>
                            <li><a href="javascript:void(0);">Bảng giá</a></li>
                            <li><a href="javascript:void(0);">Hướng dẫn</a></li>
                            <li><a href="javascript:void(0);">Chính sách</a></li>
                            <li><a href="javascript:void(0);">Tuyển dụng</a></li>
                            <li><a href="javascript:void(0);">Liên hệ</a></li>
                        </ul>
                    </div>
                    <!-- Our services END -->
                </aside>
            </div>
            <!-- Side bar END -->
            <!-- Left part start -->
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Title separator style 1 -->
                <div class="p-a30 bg-white m-b40">
                    <div class="section-head text-center m-0">
                        <h4 class="text-uppercase h4">TUYỂN DỤNG</h4>
                        <div class="dez-separator bg-primary"></div>
                    </div>
                    <div class="section-content"></div>
                </div>
                <!-- Title separator style 1 END -->
                <!-- blog start -->
                <div class="blog-post blog-single">
                    <div class="dez-post-media dez-img-effect"></div>
                    <div class="dez-post-text">
                        <p>
                            <strong>
                                AN LOGICSTICS đang tìm kiếm các vị trí như sau
                            </strong>
                        </p>
                        <h2 class="m-t30 m-b10 ">1. Nhân viên kinh doanh</h2>
                        <ul class="list-angle-right">
                            <li><strong>Số lượng:</strong> 12</li>
                            <li><strong>Mức lương (Lương cơ bản + doanh thu):</strong> Từ 6 - 25 triệu</li>
                            <li><strong>Thời gian làm việc:</strong> Sáng từ 8h30 đến 12h00 - Chiều từ 13h30 đến 17h00; Nghỉ chiều thứ 7 và chủ nhật</li>
                            <li><strong>Địa điểm làm việc:</strong> Xuân Phương, Nam Từ Liêm, Hà Nội.</li>
                        </ul>
                        <h3>Yêu cầu:</h3>
                        <ul class="list-check-circle primary">
                            <li>Đã từng làm việc trong mảng sales và chăm sóc khách hàng.</li>
                            <li>Năng động, hoạt bát, trung thực, chịu được áp lực cao trong công việc.</li>
                            <li>Có laptop, biết sử dụng Word, Excel. Biết tiếng trung là một lợi thế.</li>
                        </ul>
                        <h3>Quyền lợi:</h3>
                        <ul class="list-check-circle primary">
                            <li>Hưởng phúc lợi ngày sinh nhật, thưởng vào các ngày lễ, tết theo quy định.</li>
                            <li>Du lịch, nghỉ mát hằng năm. Tổ chức team building và dã ngoại cùng công ty.</li>
                            <li>Lương thưởng và chế độ bảo hiểm xã hội đầy đủ.</li>
                        </ul>
                        <div class="dez-divider bg-gray-dark"></div>
                        <h2 class="m-t30 m-b10 ">2. Nhân viên mua hàng</h2>
                        <ul class="list-angle-right">
                            <li><strong>Số lượng:</strong> 5</li>
                            <li><strong>Mức lương (Lương cơ bản + doanh thu):</strong> Từ 8 - 30 triệu</li>
                            <li><strong>Thời gian làm việc:</strong> Sáng từ 8h30 đến 12h00 - Chiều từ 13h30 đến 17h00; Nghỉ chiều thứ 7 và chủ nhật</li>
                            <li><strong>Địa điểm làm việc:</strong> Xuân Phương, Nam Từ Liêm, Hà Nội.</li>
                        </ul>
                        <h3>Yêu cầu:</h3>
                        <ul class="list-check-circle primary">
                            <li>Đã từng làm việc trong mảng mua hàng các trang TMĐT taobao, 1688, pinn</li>
                            <li>Năng động, hoạt bát, trung thực, chịu được áp lực cao trong công việc.</li>
                            <li>Có laptop, biết sử dụng Word, Excel. Biết tiếng trung là một lợi thế.</li>
                        </ul>
                        <h3>Quyền lợi:</h3>
                        <ul class="list-check-circle primary">
                            <li>Hưởng phúc lợi ngày sinh nhật, thưởng vào các ngày lễ, tết theo quy định.</li>
                            <li>Du lịch, nghỉ mát hằng năm. Tổ chức team building và dã ngoại cùng công ty.</li>
                            <li>Lương thưởng và chế độ bảo hiểm xã hội đầy đủ.</li>
                        </ul>
                        <div class="dez-divider bg-gray-dark"></div>
                        <h2 class="m-t30 m-b10 ">3. Leader Sale - Kế toán</h2>
                        <ul class="list-angle-right">
                            <li><strong>Số lượng:</strong> 2</li>
                            <li><strong>Mức lương:</strong> Thỏa thuận (Từ 7 - 10 triệu).</li>
                            <li><strong>Thời gian làm việc:</strong> Sáng từ 8h30 đến 12h00 - Chiều từ 13h30 đến 17h00; Nghỉ chiều thứ 7 và chủ nhật</li>
                            <li><strong>Địa điểm làm việc:</strong> Xuân Phương, Nam Từ Liêm, Hà Nội.</li>
                        </ul>
                        <h3>Yêu cầu:</h3>
                        <ul class="list-check-circle primary">
                            <li>Đã có kinh nghiệm 1-2 năm làm leader sale các ngành logistics.</li>
                            <li>Giám sát và training sales</li>
                            <li>Có kinh nghiệm lãnh đạo đội nhóm theo dõi và đánh giá tối ưu những vấn đề.</li>
                            <li>Tiếp nhận, kiểm tra, thanh toán và hạch toán phát sinh thu chi.</li>
                            <li>Kiểm tra, đối chiếu, cập nhật hệ thống số sách kế toán, công nợ phải thu, phải trả.</li>
                            <li>Năng động, hoạt bát, trung thực, chịu được áp lực cao trong công việc.</li>
                            <li>Có laptop, biết sử dụng Word, Excel. Biết tiếng trung là một lợi thế.</li>
                        </ul>
                        <h3>Quyền lợi:</h3>
                        <ul class="list-check-circle primary">
                            <li>Hưởng phúc lợi ngày sinh nhật, thưởng vào các ngày lễ, tết theo quy định.</li>
                            <li>Du lịch, nghỉ mát hằng năm. Tổ chức team building và dã ngoại cùng công ty.</li>
                            <li>Lương thưởng và chế độ bảo hiểm xã hội đầy đủ.</li>
                        </ul>

                        <h2 class="m-b20">Hồ sơ gửi về:</h2>
                        <div class="dez-separator bg-primary"></div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 m-b30">
                                <div class="icon-bx-wraper center bg-white p-a30">
                                    <div class="icon-bx-sm bg-primary m-b20"> <a href="javascript:void(0);" class="icon-cell"><i class="fa fa-phone"></i></a> </div>
                                    <div class="icon-content">
                                        <h4 class="m-b10">Hotline CSKH or Zalo</h4>
                                        <p>08.2222.1529</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 m-b30">
                                <div class="icon-bx-wraper center bg-white p-a30">
                                    <div class="icon-bx-sm bg-primary m-b20"> <a href="javascript:void(0);" class="icon-cell"><i class="fa fa-envelope"></i></a> </div>
                                    <div class="icon-content">
                                        <h4 class="m-b10">Email</h4>
                                        <p>ad.anlogicstics@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 m-b30">
                                <div class="icon-bx-wraper center bg-white p-a30">
                                    <div class="icon-bx-sm bg-primary m-b20"> <a href="javascript:void(0);" class="icon-cell"><i class="fab fa-facebook"></i></a> </div>
                                    <div class="icon-content">
                                        <h4 class="m-b10">Facebook</h4>
                                        <p>fb.com/trungquoc.nhaphang.754</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left part END -->
        </div>
    </div>
</div>


