
@{
    ViewBag.Title = "Tuyển dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner page banner -->
<div class="dez-bnr-inr overlay-black-middle" style="background-image:url(/Assets/Client/images/background/bg1.jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry">
            <h1 class="text-white">Tuyển dụng tại AN LOGISTICS</h1>
        </div>
    </div>
</div>
<!-- inner page banner END -->
<!-- Breadcrumb row -->
<div class="breadcrumb-row">
    <div class="container">
        <ul class="list-inline">
            <li><a href="/">Trang chủ</a></li>
            <li>Tuyển dụng</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb row END -->
<div class="content-area">
    <div class="container">
        <div class="row">
            <!-- Side bar start -->
            <div class="col-xl-3 col-lg-4 col-md-5">
                <aside class="side-bar">
                    <!-- Our services -->
                    <div class="widget bg-white p-a20 widget_services">
                        <h4 class="widget-title">DANH MỤC</h4>
                        <ul class="list-chevron-circle orange">
                            <li><a href="javascript:void(0);">Giới thiệu</a></li>
                            <li><a href="javascript:void(0);">Bảng giá</a></li>
                            <li><a href="javascript:void(0);">Hướng dẫn</a></li>
                            <li><a href="javascript:void(0);">Chính sách</a></li>
                            <li><a href="javascript:void(0);">Tuyển dụng</a></li>
                            <li><a href="javascript:void(0);">Liên hệ</a></li>
                        </ul>
                    </div>
                    <!-- Our services END -->
                </aside>
            </div>
            <!-- Side bar END -->
            <!-- Left part start -->
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Title separator style 1 -->
                <div class="p-a30 bg-white m-b40">
                    <div class="section-head text-center m-0">
                        <h4 class="text-uppercase h4">TUYỂN DỤNG</h4>
                        <div class="dez-separator bg-primary"></div>
                    </div>
                    <div class="section-content"></div>
                </div>
                <!-- Title separator style 1 END -->
                <!-- blog start -->
                <div class="blog-post blog-single">
                    <div class="dez-post-media dez-img-effect"></div>
                    <div class="dez-post-text">
                        <p><b>Đang cập nhật...</b></p>
                    </div>
                </div>
            </div>
            <!-- Left part END -->
        </div>
    </div>
</div>


