
@{
    ViewBag.Title = "Kích hoạt tài khoản thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content -->
<div class="page-content">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/background/bg4.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Separators</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="index.html">Home</a></li>
                <li>Separators</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="content-area">
        <!-- content start -->
        <div class="container">
            <!-- Title separator style 1 -->
            <div class="p-a30 bg-white m-b40">
                <div class="section-head text-center m-0">
                    <h2 class="text-uppercase">Kích hoạt tài khoản thành công </h2>
                    <div class="dez-separator bg-primary"></div>
                    <p>Cảm ơn bạn đã đăng ký tài khoản tại AN LOGISTIC. Để đăng nhập: @Html.ActionLink("Click vào đây.", "Login", "Account")</p>
                </div>
                <div class="section-content"></div>
            </div>
            <!-- Title separator style 1 END -->            
        </div>
        <!-- Content END-->
    </div>
</div>
