<!-- Brand Logo -->
<a href="index3.html" class="brand-link">
    <img src="../../../Assets/Admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AN LOGISTICS</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- SidebarSearch Form -->
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar"
                   type="search"
                   placeholder="Nhập mã vận đơn..."
                   aria-label="Search" />
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-collapse-hide-child" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a ui-sref="home" class="nav-link">
                    <i class="nav-icon fas fa-home"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item menu-open">
                <a href="" class="nav-link">
                    <i class="nav-icon fas fa-shopping-bag"></i>
                    <p>
                        Quản lý ĐH Order
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" ui-sref="orders"
                           class="nav-link">
                            <i class="fas fa-list-ul nav-icon"></i>
                            <p>Danh sách đơn hàng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" ui-sref="add_order" class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Tạo đơn hàng</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item menu-open">
                <a href="" class="nav-link">
                    <i class="nav-icon fas fa-truck-moving"></i>
                    <p>
                        Quản lý ĐH ký gửi
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" ui-sref="packages" class="nav-link">
                            <i class="fas fa-list-ul nav-icon"></i>
                            <p>Danh sách ĐH ký gửi</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" ui-sref="add_packages"
                           class="nav-link">
                            <i class="fas fa-edit nav-icon"></i>
                            <p>Tạo ĐH ký gửi</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="nav-icon fas fa-box-open"></i>
                    <p>Hàng tìm chủ</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="nav-icon fas fa-exclamation-triangle"></i>
                    <p>Khiếu nại</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="nav-icon fas fa-plug"></i>
                    <p>Kết nối Zalo</p>
                </a>
            </li>
            <li class="nav-item menu-open">
                <a href="" class="nav-link">
                    <i class="nav-icon fas fa-cogs"></i>
                    <p>
                        Hệ thống
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a ui-sref="application_users"
                           class="nav-link">
                            <i class="fas fa-user nav-icon"></i>
                            <p>Người dùng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a ui-sref="application_groups"
                           class="nav-link">
                            <i class="fas fa-user nav-icon"></i>
                            <p>Nhóm người dùng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a ui-sref="application_roles"
                           class="nav-link">
                            <i class="fas fa-user nav-icon"></i>
                            <p>Quyền</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
<script src="../../../Assets/Admin/dist/js/adminlte.js"></script>