   <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách đơn hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a ui-sref="home">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Danh sách đơn hàng</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Tìm kiếm đơn hàng</h3>

                <div class="card-tools">
                    <button type="button"
                            class="btn btn-tool"
                            data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button"
                            class="btn btn-tool"
                            data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <span>Trạng thái:</span>
                        <a href="#"><span class="badge badge-secondary">Chờ xác nhận (0)</span></a>
                        <a href="#"><span class="badge badge-dark">Đã xác nhận (0)</span></a>
                        <a href="#"><span class="badge badge-primary">Đã đặt hàng (0)</span></a>
                        <a href="#"><span class="badge badge-info">Kho TQ nhận (0)</span></a>
                        <a href="#"><span class="badge badge-light">Xuất kho TQ (0)</span></a>
                        <a href="#"><span class="badge badge-primary">Nhập kho VN (0)</span></a>
                        <a href="#"><span class="badge badge-warning">Đang giao hàng (0)</span></a>
                        <a href="#"><span class="badge badge-success">Đã giao hàng (0)</span></a>
                        <a href="#"><span class="badge badge-danger">Đã hủy (0)</span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Nhập mã đơn hàng:</label>
                            <input class="form-control" type="text" ng-model="keyword" placeholder="Nhập mã đơn hàng">
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Nhập mã vận đơn</label>
                            <input class="form-control" type="text" f>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3">
                        <!-- Date -->
                        <div class="form-group">
                            <label>Thời gian từ:</label>
                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />
                                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>đến:</label>
                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" />
                                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button ng-click="search()" type="submit" class="btn btn-primary float-right">Tìm kiếm</button>
            </div>
            <!-- /.card -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <!--<button class="btn btn-primary" ui-sref="add_order">Thêm mới</button>-->
                        <button class="btn btn-danger" id="btnDelete" disabled ng-click="deleteOrderMulti()">Xóa dòng đã chọn</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách đơn đặt hàng</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table id="example2"
                               class="table table-bordered table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th style="width: 5%">
                                        <label>
                                            <input type="checkbox" name="checkAll" ng-click="selectAll()" />
                                        </label>
                                    </th>
                                    <th style="width: 15%">Thời gian</th>
                                    <th style="width: 15%">Mã đơn hàng</th>
                                    <th style="width: 15%">Chú thích</th>
                                    <th style="width: 15%">Tình trạng</th>
                                    <th style="width: 15%">Thông tin KH</th>
                                    <th style="width: 15%">Trạng thái</th>
                                    <th style="width: 5%">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in orders">
                                    <td>
                                        <input type="checkbox" name="checkSingle" ng-model="item.checked" />
                                    </td>
                                    <td>{{item.CreatedDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    <td><a  ui-sref="order_detail({id:item.ID})">{{item.OrderCode}}</a></td>
                                    <td>{{item.CustomerMessage}}</td>
                                    <td>{{item.PaymentMethod}}</td>
                                    <td>
                                        {{item.CreatedBy}}<br />
                                        {{item.CustomerName}}<br />
                                        {{item.CustomerMobile}}
                                    </td>
                                    <td>
                                        <span ng-class="{'badge badge-secondary':item.PaymentStatus==0,'badge badge-dark':item.PaymentStatus==1,'badge bg-primary':item.PaymentStatus==2,
                                                        'badge badge-info':item.PaymentStatus==3,'badge badge-light':item.PaymentStatus==4,'badge badge-primary':item.PaymentStatus==5,
                                                        'badge badge-warning':item.PaymentStatus==6,'badge badge-success':item.PaymentStatus==7,'badge badge-danger':item.PaymentStatus==8}">
                                            {{item.PaymentStatus|statusOrderFilter}}
                                        </span>
                                    </td>
                                    <td><button class="btn btn-sm btn-info" ui-sref="order_detail({id:item.ID})"><i class="fa fa-eye"></i></button></td>
                                </tr>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Thời gian</th>
                                    <th>Mã đơn hàng</th>
                                    <th>Tổng tiền</th>
                                    <th>Chú thích</th>
                                    <th>Tình trạng</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getOrders(page)"></pager-directive>
                    </div>
                </div>
                <!-- /.card -->
            </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->