@model TNS.Web.Models.OrderViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@section footerJS {
    <script src="~/Assets/libs/jquery/jquery.js"></script>
    <script src="~/Assets/Admin/plugins/bs-custom-file-input/bs-custom-file-input.js"></script>
    <script src="~/Assets/Client/js/controller/shoppingCart.js"></script>
    <script type="text/javascript">
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnDelete").show();
            var i = 0;
            i++;

            $('#addRow').click(function () {
                $('#tbody').append('<tr id="rowOrderDetail' + i + '">' +
                    '<td><a><input id="ProductLink" name="ProductLink[]" class="form-control"type="text" value=""placeholder="Nhập link sản phẩm" /></a><span class="error text-danger">*Không được để trống</span></td> ' +
                    '<td><div class="row"><div class="custom-file col-md-9"><input type="file" class="custom-file-input" id="ProductImage" name="ProductImage" accept="image/*" />' +
                    '<label class= "custom-file-label" for="ProductImage">Chọn ảnh</label>' +
                    '<span class="error text-danger">*Không được để trống</span>' +
                    '</div >' +
                    '<div class="col-md-3"><img id="blah" name="blah" style="width:50px; height:50px;" src="/UploadedFiles/ProductImage/defaut.png" /></div></div >' +
                    '</td>' +
                    '<td><a><input id="ProductDetail" name="ProductDetail[]" class="form-control" type="text" value="" placeholder="Chọn màu sắc, kích thước" /><span class= "error text-danger" >* Không được để trống</span ></a></td>' +
                    '<td><a><input id="Quantity" name="Quantity[]" class="form-control" type="number" value="" /><span class="error text-danger">*Chọn SL</span></a></td>' +
                    '<td><a><input id="Description" name="Description[]" class="form-control" type="text" value="" placeholder="Yêu cầu thêm" /></a></td>' +
                    '<td><button class="btn btn-sm btn-danger remove" id="btnDelete"><i class="fa fa-trash"></i></button></td>' +
                    '</tr>');
                $("#btnDelete").hide();
            });

            $(document).on('click', '.remove', function () {
                $(this).closest("tr").remove();
            });
            $("#btnDelete").hide();

            $(document).on('change', '.custom-file-input', function (event) {
                $(this).next('.custom-file-label').html(event.target.files[0].name);
            });
            $("#ProductImage").on('change', function () {
                var input = $(this)[0];
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#blah").attr('src', e.target.result).fadeIn('slow');
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            });
        });

@*        function AddOrderRow() {
            $("#btnDelete").show();
            var tblBody = $("#tblOrderDetail").find("tbody");
            var tblLastRow = tblBody.find("tr:last");
            var tblClone = tblLastRow.clone().find("input[type=text]").val('').end();
            tblLastRow.after(tblClone);
            $("#btnDelete").hide();
        };*@
    </script>
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tạo đơn hàng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Tạo đơn hàng</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid"  method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <!-- SELECT2 EXAMPLE -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin đơn hàng</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="actions" class="row">
                                <div class="col-lg-6">
                                    <div class="btn-group w-100">
                                        <button id="addRow" class="btn btn-success col fileinput-button">
                                            <i class="fas fa-plus"></i>
                                            <span>Thêm sản phẩm</span>
                                        </button>
                                        <button type="submit" class="btn btn-primary col start">
                                            <i class="fas fa-upload"></i>
                                            <span>Upload</span>
                                        </button>
                                        <button type="reset" class="btn btn-warning col cancel">
                                            <i class="fas fa-download"></i>
                                            <span>Tải file mẫu</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center">
                                    <div class="fileupload-process w-100">
                                        <div id="total-progress"
                                             class="progress progress-striped active"
                                             role="progressbar"
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             aria-valuenow="0">
                                            <div class="progress-bar progress-bar-success"
                                                 style="width: 0%"
                                                 data-dz-uploadprogress></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="tblOrderDetail" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 25%">Link sản phẩm</th>
                                        <th style="width: 20%">Ảnh sản phẩm</th>
                                        <th style="width: 20%">Màu sắc/Kích thước</th>
                                        <th style="width: 10%">Số lượng</th>
                                        <th style="width: 20%">Yêu cầu thêm</th>
                                        <th style="width: 5%">TT</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    <tr id="rowOrderDetail">
                                        <td>
                                            <a>
                                                <input id="ProductLink" name="ProductLink[]" class="form-control"
                                                       type="text" value=""
                                                       placeholder="Nhập link sản phẩm" />
                                            </a>
                                            <span class="error text-danger">*Không được để trống</span>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="custom-file col-md-9">
                                                    <input type="file"
                                                           class="custom-file-input"
                                                           id="ProductImage" name="ProductImage[]" accept="image/*" />
                                                    <label class="custom-file-label"
                                                           for="ProductImage">Chọn ảnh</label>
                                                    <span class="error text-danger">*Không được để trống</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <img id="blah" name="blah[]" style="width:50px; height:50px;" src="~/UploadedFiles/ProductImage/defaut.png" />
                                                </div>
                                            </div>

                                        </td>
                                        <td>
                                            <a>
                                                <input id="ProductDetail" name="ProductDetail[]" class="form-control"
                                                       type="text" value=""
                                                       placeholder="Chọn màu sắc, kích thước" />
                                                <span class="error text-danger">*Không được để trống</span>
                                            </a>
                                        </td>
                                        <td>
                                            <a>
                                                <input id="Quantity" name="Quantity[]" class="form-control"
                                                       type="number" value="" />
                                                <span class="error text-danger">*Chọn SL</span>
                                            </a>
                                        </td>
                                        <td>
                                            <a>
                                                <input id="Description" name="Description[]" class="form-control"
                                                       type="text" value=""
                                                       placeholder="Yêu cầu thêm" />
                                            </a>
                                        </td>
                                        <td>
                                            <button class="btn btn-block btn-danger remove" id="btnDelete"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-danger float-right" id="btnDeleteAll">
                                <i class="fas fa-trash"></i> Xóa toàn bộ
                            </button>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin khách hàng</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body" id="userinfo">
                            <div class="row">
                                <div class="col-sm-6">
                                    @if (Request.IsAuthenticated)
                                    {
                                        <!-- text input -->
                                        <div class="form-group" id="LoadUserInfo">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="btnLoadUserInfo" value="option1">
                                                <label for="btnLoadUserInfo" class="custom-control-label">Lấy thông tin của tôi</label>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Họ và tên:</label>
                                        <input type="text" id="fullname" name="fullname" class="form-control" placeholder="Nhập họ và tên">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Số điện thoại:</label>
                                        <input type="text" id="phone" name="phone" class="form-control" placeholder="Nhập số điện thoại">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input type="text" id="email" name="email" class="form-control" placeholder="Địa chỉ email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- textarea -->
                                    <div class="form-group">
                                        <label>Địa chỉ:</label>
                                        <textarea class="form-control" id="address" name="address" rows="3" placeholder="Nhập địa chỉ"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- textarea -->
                                    <div class="form-group">
                                        <label>Ghi chú:</label>
                                        <textarea class="form-control" id="message" name="comment" rows="3" placeholder="Nhập ghi chú"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i> Hủy đơn hàng</button>
                            <button type="submit" class="btn btn-primary float-right" id="btnCheckout">
                                <i class="fas fa-edit"></i>
                                Tạo đơn hàng
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
